<nav>
    <div class="nav-wrapper green">
        <a id="page_title" href="#" class="brand-logo" onclick="indexController.displayLists()">Listes de courses</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a id="nwlist" class="waves-effect modal-trigger" href="#modalNwList">Nouvelle liste</a></li>
            <li><a id="displist" class="waves-effect" onclick="indexController.displayLists()">Liste</a></li>
            <li><a id="history" class="waves-effect" type="submit" onclick="indexController.displayHistory()">Historique</a></li>
        </ul>
    </div>
</nav>
<!-- lsit title -->
<p id="list_du_date"></p>

<!-- lsit -->
<div id="title" class="container"></div>
<table class="container">
    <thead id="newlist">

    </thead>
    <tbody id="list_content">

    </tbody>
    <tfoot id="list_add">

    </tfoot>
</table>

<!-- Modal Nw list -->
<div id="modalNwList" class="modal">
    <div class="modal-content">
        <input id="list_name" type="text" placeholder="list name">
        <input type="submit" value="new list" class="modal-close" onclick="indexController.createNewList()">
    </div>
</div>

<!-- Modal Nw list -->
<div id="View_arch_list" class="modal">
    <div id="itemLst" class="modal-content">
        <p>the old lists</p>
    </div>
</div>

<!-- Modal list suppression -->
<div id="modalDlList" class="modal">
    <div class="modal-content">
        <table>
            <tr><td><p>Attention vous allez supprimer une liste</p></td><td><input type="submit" value="Delete" class="modal-close waves-effect waves-light btn red" onclick="indexController.deleteList_Confirmation()"></td></tr>
        </table>
    </div>
</div>

<!-- Modal edit Item -->
<div id="modalDEditList" class="modal">
    <div class="modal-content">
        <table>
            <tr>
                <td><input id="editItem_quant" type="number" ></td>
                <td><input id="editItem_name" type="text" ></td>
            </tr>
            <tr>
                <td><input id="editItem_submit" type="submit" value="SAVE" class="modal-close waves-effect waves-light btn green"></td>
            </tr>
        </table>
    </div>
</div>